
/* .xxxx{
  margin-left: 25%;
  margin-top: 180px;
  border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
background-color :#c7c7c7;
}
.eeee{
  margin-left: 25%;
  font-family: sans-serif;
  border: thin solid #6495ed;
  width: 50%;
  
  
  background-color :#c7c7c7;
  border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
}
th{
  width: auto;
  height: auto ;
} */
table{
  margin:  20%;
   border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
height: 50%;
background-color :#c7c7c7;
margin-left: 25%;

  
}

.xxxx{
  font-family: "Arial Black", Gadget, sans-serif
}
